html,
body {
  height: 100%;
  margin: 100%;
  padding: 0px;
  margin: 0px;
}

/* o container deve ter position: relative */
.page {
  position: relative;
}
.box {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  height: 20px;
}

.search {
  height: 26px;
}
